CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y

#版本21.02用
CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini=y
#版本19.07用
#CONFIG_TARGET_ramips_mt7620_DEVICE_miwifi-mini=y


CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
