CONFIG_TARGET_ramips=y

CONFIG_TARGET_ramips_mt7621=y

CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3g=y

CONFIG_PACKAGE_kmod-mii=y

CONFIG_PACKAGE_kmod-usb-net=y

CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y

CONFIG_PACKAGE_kmod-usb-net-rndis=y



CONFIG_PACKAGE_luci-app-vlmcsd=m




CONFIG_PACKAGE_luci-app-upnp=m





CONFIG_PACKAGE_luci-app-ddns=m





CONFIG_PACKAGE_luci-app-control-webrestriction=m


CONFIG_PACKAGE_luci-app-timecontrol=m


CONFIG_PACKAGE_luci-app-control-weburl=m



CONFIG_PACKAGE_luci-app-ttyd=m



CONFIG_PACKAGE_luci-app-control-timewol=m

CONFIG_PACKAGE_luci-app-wol=m



CONFIG_PACKAGE_luci-app-ramfree=m

CONFIG_PACKAGE_luci-app-filetransfer=m

