CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
#CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3g=y
#版本21.02用
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-3g=y

-mini=y

CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y


CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-ttyd=y
