CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3g=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-i18n-filetransfer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-lib-fs=y
CONFIG_PACKAGE_ttyd=y
#usb2.o驱动
#CONFIG_PACKAGE_kmod-usb2=y

#用于Lienol源码:https://github.com/Lienol/openwrt 

#云编译https://github.com/P3TERX/Actions-OpenWrt

#编译先找路由器型号对应源码的型号，必须一一对应
#比如小米mini路由器 搜索检查设备的名字，是否一致，
#版本21.02源码根目录/target/linux/ramips/image/mt7620.mk 搜索mini 结果：xiaomi_miwifi-mini
#版本19.07源码根目录/target/linux/ramips/image/mt7620.mk 搜索mini 结果：miwifi-mini

#构架——处理器型号——路由器型号，就会自动配置，默认要安装的openwrt和相关软件
#想要的用:CONFIG_PACKAGE_想要的=y
#不想要的又默认安装的，拒绝用:CONFIG_PACKAGE_不想要的=m
#下载压缩包损坏，都是网络原因，多下载几次，只要生成就可以正常下载下来的
#小蚂蚁s3 
#ar7xx 只有19.07  没有21.02
#CONFIG_TARGET_ar71xx=y
#CONFIG_TARGET_ar71xx_generic=y
#CONFIG_TARGET_ar71xx_generic_DEVICE_antminer-s3=y

#小米mini
#lienol源码。
#版本21.02用CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini=y
#版本19.07用CONFIG_TARGET_ramips_mt7620_DEVICE_miwifi-mini=y
#CONFIG_TARGET_ramips=y
#CONFIG_TARGET_ramips_mt7620=y
#CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini=y
#CONFIG_TARGET_ramips_mt7620_DEVICE_miwifi-mini=y

#小米r3g
#版本20.02用CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-3g=y
#版本19.07用CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3g=y
#CONFIG_TARGET_ramips=y
#CONFIG_TARGET_ramips_mt7621=y
#CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3g=y
#CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-3g=y

#手机rndis驱动以及依赖，共享手机网络
#CONFIG_PACKAGE_kmod-mii=y
#CONFIG_PACKAGE_kmod-usb-net=y
#CONFIG_PACKAGE_kmod-usb-net-rndis=y
#CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
#终端命令行
#CONFIG_PACKAGE_luci-app-ttyd=y
#文件传输和，上传安装ipk
#CONFIG_PACKAGE_luci-app-filetransfer=y
#主题
#CONFIG_PACKAGE_luci-theme-bootstrap=y
#usb3.o驱动
#CONFIG_PACKAGE_kmod-usb3=y
#ipv6功能
#CONFIG_PACKAGE_ipv6helper=y

#不安装的：实时流量监测，流量监控，宽带监视器 
#影响性能

#CONFIG_PACKAGE_luci-app-wrtbwmon=m
#CONFIG_PACKAGE_luci-app-bandwidthd=m
#CONFIG_PACKAGE_luci-app-nlbwmon=m

#源码可以使用
#https://github.com/Lienol/openwrt      
#21.02
#19.07
#https://github.com/coolsnowwolf/lede
#master
#https://github.com/coolsnowwolf/openwrt
#lede-17.01

#会本地编译的可以在本地提取.config文件夹
#SSH软件连接ubuntu系统
#
#把要加的插件都下载到package文件夹里面
#
#清除.config配置（可执行可不执行）：rm -rf ./tmp && rm -rf .config
#更新源码：git pull
#下载源+插件：./scripts/feeds update -a
#安装源+插件：./scripts/feeds install -a
#选好配置：make menuconfig
#生成.config：make defconfig
#差异部分就写入：./scripts/diffconfig.sh > seed.config
#提取.config：cat seed.config
#运行cat seed.config后在SSH软件中显示很多CONFIG的，那些就是了，都复制起来粘贴到 build-对应机型的.config里面覆盖原来.config内容就可以了
#有些命令前面带点的，要注意看清楚
