CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
#版本19.07
#CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3g=y
#21.02
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-3g=y


CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
